@import url(reset.css);


/* General setting - commenced */
body {
  color: black;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: #D8D8D6;
  font-size: 18px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* General setting - completed */

/* button - commenced */

.btn {
  cursor: pointer;
  border-radius: 6px;
  background: #81A36B;
  padding: 21px 34px;
  border: 1px solid #81A36B;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.btn-outline {
  background: transparent;
}


/* button - completed */



/* Header - Menu - commenced */
.header {
  background: #81A36B;
  padding: 24px 0;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  background: rgb(227, 226, 226);
}

.container-section {
  display: flex;
}

.logo {
  line-height: 1;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  font-size: 18px;
  font-family: Roboto;
  text-align: center;
  font-weight: 400;
  list-style: none;
}

.menu-list a {
  color: inherit;
  text-decoration: none;
  text-transform: none;
  font-size: 20px;
}

/* Header - Menu - completed */


/* PART 1 - Amelia - commenced*/


.amelia-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.amelia-inner {
  flex: 1 1 45%
}

.amelia-title {
  font-family: 'Architects Daughter';
  font-size: 62px;
  margin: 0 0 40px;
}

.amelia-descr {
  text-align: justify;
  margin-bottom: 20px;
}

.amelia-btns {
  display: flex;
  gap: 25px;
}

.amelia-image {
  flex: 1 1 45%;
  he: 670px;
}

.amelia-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Amelia - Completed */


/* About Us - commenced */


.aboutus {
  pad: 120px 0;
}

.container {}

.aboutus-container {
  max-width: 570px;
  text-align: center;
}

.aboutus-txt {
  font-size: 32px;
  font-family: 'Architects Daughter';
  margin-bottom: 50px;
}